.Container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.Mid {
  text-align: center;
  
}

.Buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.Footer {
  /* position: absolute;
  bottom: 0; */
  width: 100%;
}